/* Links a partials */

@use "./generales/generales" as*;
@use "./generales/botones" as*;
@use "./generales/textos" as*;
@use "./generales/headeryfooter" as*;
@use "./pages/productos" as*;
@use "./pages/contacto" as*;
@use "./responsive/mediaq" as*;

/* Banner */

.banner {
    text-align: left;
    background-image: url('../medios/banner-home.png');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 40px;
    color: $blanco;
    margin-bottom: 60px;
}

/* Secciones destacadas */

.secciones-destacadas {
    background-color: $beige-claro;
    color: $negro;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;

    .card {
        width: fit-content;
        background-color: $beige;
        border: none;
        border-radius: 0px;
        margin: 10px;
        align-items: center;
        justify-content: space-between;

        .img-destacadas {
            width: 95%;
            height: auto;
            margin-top: 20px;
            margin-bottom: 10px;
            align-items: center;
            justify-content: center;
        }

        .boton-destacadas {
            margin: 20px;
        }
    }

}

/* Multimedia */

.cotenedor-muiltimedia {
    background-color: $gris;
    padding: 40px;
    margin-bottom: 0px;

    .titulo-video {
        color: $beige;
        text-align: left;
        padding-top: 60px;
        padding-left: 20px;
        background-color: $gris
    }

    .multimedia {
        display: flex;
        flex-direction: row;
        gap: 40px;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 60px;
        background-color: $gris;

        .video {
            width: 560px;
            height: 315px;
            border: none;
        }

        .parrafo-video {
            padding: 20px;
            color: $beige-claro;
        }
    }
}

/* Blog */

.contenedor-blog {
    background-color: $beige-oscuro;
    padding-bottom: 0px;
    margin-bottom: 00px;

    .titulo-blog {
        background-color: $beige-oscuro;
        text-align: left;
        padding-top: 40px;
        padding-left: 40px;
    }

    .blog {
        background-color: $beige-oscuro;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        padding: 40px;
    }

}